<p>I grew up in sunny Boulder, CO and attended CU Boulder for my undergraduate degree in Economics. During and immediately following school, I worked for my family managing the day to day operations of our family real estate business. While this has proved to be a valuable experience, I quickly realized my passion would not be discovered in the field of property management.</p>
	
<p>Enter the the world of code. Roughly two years ago, I began teaching myself programming and software engineering. I've been amazed by what a steady quest for knowledge can yield when pointed at the internet. Every day get to solve a new problem, learn something new, and push myself forward.</p>

<p>What all have I worked with? Many languages, many technologies. A few highlights, in order of my exposure to them:</p>

<p>HTML, CSS, PHP, mySQL, Javascript, Java, Python, C++, jQuery, Ruby, and Rails</p>

<p>It's been a wonderful wild ride so far, and I look forward to what the future has in store. I love what I do, working currently as a freelancer, but hope to work on a longer term project in the future. Thanks for stopping by!</p>