<div id="panel1">
	<div class="front">
		<%= image_tag "get_out.png", id: :get_out_logo %>
		<div class="back">
			<div class="info">
				<div class="info_inner">
					<h3><%= link_to "Get Out! | June 2013", "http://get-out.herokuapp.com", target: :blank, class: "work_link" %></h3>

					<p>I'm particularly proud of this little feat. I worked as the lead full-stack developer for a 36 hour civic hackathon project in Denver CO. For my take on the experience, check out my blog.</p>
				
					<h4>Tech Used</h4>

					<p>HTML5, CSS3, Javascript, jQuery, Ruby, Ruby on Rails, Google Maps API, Everytrail API, SendGrid, Git, Heroku</p>
				</div>
			</div>	
		</div>
	</div>
</div>

<div id="panel2">
	<div class="front">
		<div class="back">
			<div class="info">
				<div class="info_inner">
					<h3><%= link_to "Denver International Hostel | May 2013", "http://www.denverinternationalhostel.com", target: :blank, class: "work_link" %></h3>

					<p>The Denver International Hostel is the longest operating hostel in Denver, CO. I had the good fortune of overhauling their outdated website. Most of the development on this generally static site occurred on the front-end.</p>

					<h4>Tech Used</h4>

					<p>HTML5, CSS3, Javascript, jQuery, PHP5, Google Maps API, Sendgrid, Git, Heroku</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="panel3">
	<div class="front">
		<div class="back">
			<div class="info">
				<div class="info_inner">
					<h3><%= link_to "The Bacon Review  | October 2011", "http://www.thebaconreview.com", target: :blank, class: "work_link" %></h3>

					<p>I'm happy to report that my first full application build is still standing the test of time. I worked as the full-stack developer, building an online literary journal for two friends. The Bacon Review is a free publication which distributes unique works of fiction, non-fiction, and poetry to an ever growing audience</p>

					<h4>Tech Used:</h4>

					<p>HTML, CSS, Javascript, PHP5, mySQL, phpMailer</p>
				</div>
			</div>
		</div>
	</div>
</div>	

