<p class="bold">Get Out!  | June 2013<p>
	
<p><%= link_to "Website", "http://get-out.herokuapp.com", target: "blank" %>
	
<p>I'm particularly proud of this little feat. I worked as the lead full-stack developer for a 36 hour civic hackathon project in Denver CO. For my take on the experience, check out my blog.</p>

<p>Tech Used:</p>

<p>HTML5, CSS3, Javascript, jQuery, Ruby, Ruby on Rails, Google Maps API, Everytrail API, SendGrid, Git, Heroku</p>

<br />

<p class="bold">Denver International Hostel  | May 2013</p>

<p><%= link_to "Website", "http://www.denverinternationalhostel.com", target: "blank" %>

<p>The Denver International Hostel is the longest operating hostel in Denver, CO. It provides travelers with safe, budget, accommodation while they enjoy everything Colorado has to offer. I had the good fortune of overhauling their outdated website. Most of the development on this generally static site occurred on the front-end.</p>

<p>Tech Used:</p>

<p>HTML5, CSS3, Javascript, jQuery, PHP5, Google Maps API, Sendgrid, Git, Heroku</p>

<br />

<p class="bold">The Bacon Review  | October 2011</p>

<p><%= link_to "Website", "http://www.thebaconreview.com", target: "blank" %></p>

<p>I'm happy to report that my first full application build is still standing the test of time. I worked as the full-stack developer, building an online literary journal for two friends. The Bacon Review is a free publication which distributes unique works of fiction, non-fiction, and poetry to an ever growing audience</p>

<p>Tech Used:</p>

<p>HTML, CSS, Javascript, PHP5, mySQL, phpMailer</p>