/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*==== RESET ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*===== BEGIN SITE CSS =====*/

body, html {
	width: 100%;
	height: 100%;
	zoom: 100%;
	background-color: #E1D7D7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bold {
	font-weight: bold;
}

/* ===== RECENT WORK SECTION ===== */

.work_link {
	text-decoration: none;
}

.work_link:hover {
	font-style: italic;
}

.work_logo {
	width: 100%;
	height: auto;
}

#get_out_logo {
	width: 100%;
}

#panel1 {
	width: 90%;
	height: 300px;
	position: relative;
	background-color: #50969D;
	margin-bottom: 20px;
	-webkit-transition: -webkit-transform 1s linear;
    -webkit-transform-style: preserve-3d;
}

.front {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.back {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	-webkit-transform: rotateY(180deg) translateZ(10px);
}

.info_inner {
	position: absolute;
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	overflow: scroll;
}

#panel1 .info {
	position: absolute;
	background-color: #50969D;
	width: 100%;
	height: 100%;
	top:0;
}

#panel1 .info_inner {
	border: 3px solid #EFCD28;
}

#panel1 h3, #panel1 h4, #panel1 a {
	margin: 15px;
	text-align: right;
	color: white;
}

#panel1 p {
	color: #EFCD28;
	margin: 15px;
	line-height: 22px;
}

#panel2 {
	width: 90%;
	height: 300px;
	position: relative;
	background-color: #3F434D;
	margin-bottom: 20px;
	-webkit-transition: -webkit-transform 1s linear;
    -webkit-transform-style: preserve-3d;
}

#panel2 .info {
	position: absolute;
	background-color: #3F434D;
	width: 100%;
	height: 100%;
	top:0;
}

#panel2 .info_inner {
	border: 3px solid #ADA6A9;
}

#panel2 h3, #panel2 h4, #panel2 a {
	margin: 15px;
	text-align: right;
	color: white;
}

#panel2 p {
	color: #ADA6A9;
	margin: 15px;
	line-height: 22px;
}

#panel3 {
	width: 90%;
	height: 300px;
	position: relative;
	background-color: #F8E1CF;
	-webkit-transition: -webkit-transform 1s linear;
    -webkit-transform-style: preserve-3d;
}

#panel3 .info {
	position: absolute;
	background-color: #F8E1CF;
	width: 100%;
	height: 100%;
	top:0;
}

#panel3 .info_inner {
	border: 3px solid #5E2B26;
}

#panel3 h3, #panel3 h4, #panel3 a {
	margin: 15px;
	text-align: right;
	color: #CC5D53;
}

#panel3 p {
	color: #5E2B26;
	margin: 15px;
	line-height: 22px;
}



