/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*==== RESET ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*===== BEGIN SITE CSS =====*/

body, html {
	width: 100%;
	height: 100%;
	zoom: 100%;
	/*background-color: #E1D7D7;*/
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bold {
	font-weight: bold;
}


/*===== CONTACT SECTION =====*/

*:focus {
	outline: none;
}

#form_wrapper {
	width: 100%;
	height: auto;
}

#contact_me {
	width: 70%;
	height: auto;
}

#email, #name {
	width: 100%;
	height: 20px;
	margin: 20px 0 0 0;
	padding: 5px 15px;
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #E1D7D7;
	border-radius: 5px;
}

#text {
	width: 100%;
	height: 150px;
	resize: none;
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 15px 15px;
	margin: 20px 0 0 0;
	border: 1px solid #E1D7D7;
	border-radius: 5px;
}

#submit_email {
	width: 100px;
	height: 30px;
	margin-top: 15px;
	float: right;
	margin-right: -32px;
	background-color: #86B370;
	border: none;
	border-radius: 5px;
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: white;
}

#submit_email:hover {
	background-color: #658654;
}

#form_wrapper h3 {
	color: #1D114D;
	font-size: 16px;
}



